<app-header></app-header>
<app-game-form></app-game-form>
<div class="fullscreen-bg">
  <video [muted]="true" loop autoplay class="fullscreen-bg__video">
    <source src="/assets/video/doolhof.mp4" type="video/mp4">
  </video>
  <div class="col-lg-12">
    <div class="col-lg-4">
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-img-overlay">
            <h1>{{game !== null ? "Continue game" : "New game"}}</h1>
            <a class="stretched-link" (click)="game !== null ? continueGame() : showModal()"></a>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-img-overlay">
          <h1>Available games</h1>
          <a [routerLink]="['/game-list']" class="stretched-link"></a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-img-overlay">
          <h1>Highscores</h1>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-img-overlay">
          <h1>Credits</h1>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
