<nav class="navbar navbar-light bg-info">
  <span>Made by EWA team 3</span>
  <span>Welcome {{user}}</span>
  <a class="navbar-brand" href="#">Logout</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="#">Dashboard</a>
    <a class="dropdown-item" href="#">Edit Profile</a>
    <a class="dropdown-item" href="#">Log Out</a>
  </div>
</nav>
<div class="fullscreen-bg">
  <video [muted]="true" loop autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
    <source src="/assets/video/doolhof.mp4" type="video/mp4">
  </video>

  <div class="col-lg-12">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <div class="card-columns">
          <div class="card text-center">
            <div class="card-body">
              <div *ngIf="noNewGame ; else continueGame" class="card-img-overlay">
                <h1>New game</h1>
                <a href="#" class="stretched-link"></a>
              </div>
              <ng-template #continueGame>
                <div class="card-img-overlay">
                  <h1>Continue game</h1>
                  <a href="#" class="stretched-link"></a>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-img-overlay">
              <h1>Available games</h1>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>

