.navbar{
  max-height: 20%;
  background-color:#281D7D !important;
  justify-content: center;
}

.tile{
  width: 30%;
  height:30%;
}

.kaart{
  margin-left: -40px;

  width: auto;
  height: 130px;
  z-index:800;
}

.kaart-achterkant{
  margin-left: 60px;
  width: auto;
  height: 130px;

}

@media only screen and (max-width: 1080px){
  .navbar{
    max-height: 15%;

  }
  .tile{
    width: 25%;
    height:25%;
  }

  .kaart{
    margin-left: -40px;
    width: auto;
    height: 110px;

  }

  .kaart-achterkant{
    margin-left: 60px;
    width: auto;
    height: 110px;

  }
}

/* Tile Rotations */
.Zero {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.Ninety {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.OneEighty {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.TwoHundredSeventy {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
