<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="grid">
        <!--   Top controls   -->
        <div class="text-center top-controls">
          <div class="cell"></div>
          <div class="cell-arrow">
            <fa-icon class="arrow-vertical" [icon]="arrowDown"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow">
            <fa-icon class="arrow-vertical" [icon]="arrowDown"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow">
            <fa-icon class="arrow-vertical" [icon]="arrowDown"></fa-icon>
          </div>
          <div class="cell"></div>
        </div>
        <!-- Row 1 -->
        <div class="cell-empty"></div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-empty"></div>
        <!--  Row 2-->
        <div class="cell-arrow text-right">
          <fa-icon class="arrow-horizontal" [icon]="arrowRight"></fa-icon>
        </div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-arrow text-left">
          <fa-icon class="arrow-horizontal" [icon]="arrowLeft"></fa-icon>
        </div>
        <!--  Row 3-->
        <div class="cell-empty"></div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-empty"></div>
        <!--  Row 4-->
        <div class="cell-arrow text-right">
          <fa-icon class="arrow-horizontal" [icon]="arrowRight"></fa-icon>
        </div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-arrow text-left">
          <fa-icon class="arrow-horizontal" [icon]="arrowLeft"></fa-icon>
        </div>
        <!--  Row 5-->
        <div class="cell-empty"></div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-empty"></div>
        <!--  Row 6-->
        <div class="cell-arrow text-right">
          <fa-icon class="arrow-horizontal" [icon]="arrowRight"></fa-icon>
        </div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-arrow text-left">
          <fa-icon class="arrow-horizontal" [icon]="arrowLeft"></fa-icon>
        </div>
        <!--  Row 7-->
        <div class="cell-empty"></div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell">IMG HERE</div>
        <div class="cell-empty"></div>
        <!--   Bottom controls   -->
        <div class="text-center">
          <div class="cell"></div>
          <div class="cell-arrow">
            <fa-icon class="arrow-horizontal" [icon]="arrowUp"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow">
            <fa-icon class="arrow-horizontal" [icon]="arrowUp"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow">
            <fa-icon class="arrow-horizontal" [icon]="arrowUp"></fa-icon>
          </div>
          <div class="cell"></div>
        </div>
      </div>
    </div>
    <div class="col-1">

    </div>
  </div>
</div>
