<!--1. create a grid layout-->
<!--1a. Wrap it like bootstrap inside a container -> each div has a specified width-->

<div class="grid">
  <!-- Row 1 -->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <!--  Row 2-->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <!--  Row 3-->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <!--  Row 4-->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <!--  Row 5-->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <!--  Row 6-->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <!--  Row 7-->
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
  <div class="cell">IMG HERE</div>
</div>
