/* Default board styling */
.row-boxed {
  height: 100vh;
}

.grid {
  display: inline-block;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-top: 3%;
}

.cell-empty {
  position: relative;
  display: inline-block;
  width: calc(100% / 10);
}

.cell {
  position: relative;
  display: inline-block;
  width: calc(100% / 10);
  height: auto;
  background-color: #281D7D;
  margin: 0.01pt;
}

.cell-blue {
  background-image: url("/assets/images/tile-bl.png");
  z-index:-1
}

.cell-arrow {
  position: relative;
  display: inline-block;
  width: calc(100% / 10);
  height: auto;
  margin: 0.01% 0.01% 0.01% 0.01%;
}

.arrow-vertical {
  position: relative;
  text-align: right;
  top: calc(50% - 16px);
}

.arrow-horizontal {
  position: relative;
  top: calc(50% - 16px);
}

/* Slide technique

  1. When sliding a tile from the board
  2. Remove the last tile a.k.a tile on the opposite side
  3. apply at the width of that tile to the first tile from where you want to slide this way the gap will be filled
  4. place the tile on the spot and remove the margin of the first tile
*/
