<div class="container row-boxed">
  <div class="row ">
    <div class="col-1">
      <!--  Left space for more content. (Also serves as spacing)-->
    </div>
    <div class="col-10">
      <div class="grid cell-blue">
        <!--   Top controls   -->
        <div class="text-center top-controls">
          <div class="cell"></div>
          <div class="cell-arrow" (click)="insertTop(2)">
            <fa-icon class="arrow-vertical" [icon]="arrowDown" [size]="'2x'"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow" (click)="insertTop(4)">
            <fa-icon class="arrow-vertical" [icon]="arrowDown" [size]="'2x'"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow" (click)="insertTop(6)">
            <fa-icon class="arrow-vertical" [icon]="arrowDown" [size]="'2x'"></fa-icon>
          </div>
          <div class="cell"></div>
        </div>
        <div class="cell-empty"></div>
        <!-- Row 1 -->
        <img id="{{board.tiles[0][0].tileId}}" src="{{board.tiles[0][0].imgSrc}}"
             class="cell {{board.tiles[0][0].tileRotation}}"/>
        <img id="{{board.tiles[0][1].tileId}}" src="{{board.tiles[0][1].imgSrc}}" [@replaceImg-top]="currentState.colTop2"
             (@replaceImg-top.done)="onDone($event, 'colTop2')"
             class="cell {{board.tiles[0][1].tileRotation}}"/>
        <img id="{{board.tiles[0][2].tileId}}" src="{{board.tiles[0][2].imgSrc}}"
             class="cell {{board.tiles[0][2].tileRotation}}"/>
        <img id="{{board.tiles[0][3].tileId}}" src="{{board.tiles[0][3].imgSrc}}" [@replaceImg-top]="currentState.colTop4"
             (@replaceImg-top.done)="onDone($event, 'colTop4')"
             class="cell {{board.tiles[0][3].tileRotation}}"/>
        <img id="{{board.tiles[0][4].tileId}}" src="{{board.tiles[0][4].imgSrc}}"
             class="cell {{board.tiles[0][4].tileRotation}}"/>
        <img id="{{board.tiles[0][5].tileId}}" src="{{board.tiles[0][5].imgSrc}}" [@replaceImg-top]="currentState.colTop6"
             (@replaceImg-top.done)="onDone($event, 'colTop6')" class="cell {{board.tiles[0][5].tileRotation}}"/>
        <img id="{{board.tiles[0][6].tileId}}" src="{{board.tiles[0][6].imgSrc}}"
             class="cell {{board.tiles[0][6].tileRotation}}"/>
        <div class="cell-empty"></div>
        <div class="cell-arrow text-right">
          <fa-icon class="arrow-horizontal"
                   [@replaceImg-right]="currentState.colRowRight2"
                   (@replaceImg-right.done)="onDone($event, 'colRowRight2')"
                   [icon]="arrowRight" [size]="'2x'" (click)="insertRight(2)"></fa-icon>
        </div>
        <!--  Row 2-->
        <img id="{{board.tiles[1][0].tileId}}" src="{{board.tiles[1][0].imgSrc}}"
             class="cell {{board.tiles[1][0].tileRotation}}"/>
        <img id="{{board.tiles[1][1].tileId}}" src="{{board.tiles[1][1].imgSrc}}"
             class="cell {{board.tiles[1][1].tileRotation}}"/>
        <img id="{{board.tiles[1][2].tileId}}" src="{{board.tiles[1][2].imgSrc}}"
             class="cell {{board.tiles[1][2].tileRotation}}"/>
        <img id="{{board.tiles[1][3].tileId}}" src="{{board.tiles[1][3].imgSrc}}"
             class="cell {{board.tiles[1][3].tileRotation}}"/>
        <img id="{{board.tiles[1][4].tileId}}" src="{{board.tiles[1][4].imgSrc}}"
             class="cell {{board.tiles[1][4].tileRotation}}"/>
        <img id="{{board.tiles[1][5].tileId}}" src="{{board.tiles[1][5].imgSrc}}"
             class="cell {{board.tiles[1][5].tileRotation}}"/>
        <img id="{{board.tiles[1][6].tileId}}" src="{{board.tiles[1][6].imgSrc}}"
             class="cell {{board.tiles[1][6].tileRotation}}"/>
        <div class="cell-arrow text-left">
          <fa-icon class="arrow-horizontal"
                   [@replaceImg-left]="currentState.colRowLeft2"
                   (@replaceImg-left.done)="onDone($event, 'colRowLeft2')"
                   [icon]="arrowLeft" [size]="'2x'" (click)="insertLeft(2)"></fa-icon>
        </div>
        <div class="cell-empty"></div>
        <!--  Row 3-->
        <img id="{{board.tiles[2][0].tileId}}" src="{{board.tiles[2][0].imgSrc}}"
             class="cell {{board.tiles[2][0].tileRotation}}"/>
        <img id="{{board.tiles[2][1].tileId}}" src="{{board.tiles[2][1].imgSrc}}"
             class="cell {{board.tiles[2][1].tileRotation}}"/>
        <img id="{{board.tiles[2][2].tileId}}" src="{{board.tiles[2][2].imgSrc}}"
             class="cell {{board.tiles[2][2].tileRotation}}"/>
        <img id="{{board.tiles[2][3].tileId}}" src="{{board.tiles[2][3].imgSrc}}"
             class="cell {{board.tiles[2][3].tileRotation}}"/>
        <img id="{{board.tiles[2][4].tileId}}" src="{{board.tiles[2][4].imgSrc}}"
             class="cell {{board.tiles[2][4].tileRotation}}"/>
        <img id="{{board.tiles[2][5].tileId}}" src="{{board.tiles[2][5].imgSrc}}"
             class="cell {{board.tiles[2][5].tileRotation}}"/>
        <img id="{{board.tiles[2][6].tileId}}" src="{{board.tiles[2][6].imgSrc}}"
             class="cell {{board.tiles[2][6].tileRotation}}"/>
        <div class="cell-empty"></div>
        <div class="cell-arrow text-right">
          <fa-icon class="arrow-horizontal"
                   [@replaceImg-right]="currentState.colRowRight4"
                   (@replaceImg-right.done)="onDone($event, 'colRowRight4')"
                   [icon]="arrowRight" [size]="'2x'" (click)="insertRight(4)"></fa-icon>
        </div>
        <!--  Row 4-->
        <img id="{{board.tiles[3][0].tileId}}" src="{{board.tiles[3][0].imgSrc}}"
             class="cell {{board.tiles[3][0].tileRotation}}"/>
        <img id="{{board.tiles[3][1].tileId}}" src="{{board.tiles[3][1].imgSrc}}"
             class="cell {{board.tiles[3][1].tileRotation}}"/>
        <img id="{{board.tiles[3][2].tileId}}" src="{{board.tiles[3][2].imgSrc}}"
             class="cell {{board.tiles[3][2].tileRotation}}"/>
        <img id="{{board.tiles[3][3].tileId}}" src="{{board.tiles[3][3].imgSrc}}"
             class="cell {{board.tiles[3][3].tileRotation}}"/>
        <img id="{{board.tiles[3][4].tileId}}" src="{{board.tiles[3][4].imgSrc}}"
             class="cell {{board.tiles[3][4].tileRotation}}"/>
        <img id="{{board.tiles[3][5].tileId}}" src="{{board.tiles[3][5].imgSrc}}"
             class="cell {{board.tiles[3][5].tileRotation}}"/>
        <img id="{{board.tiles[3][6].tileId}}" src="{{board.tiles[3][6].imgSrc}}"
             class="cell {{board.tiles[3][6].tileRotation}}"/>
        <div class="cell-arrow text-left">
          <fa-icon class="arrow-horizontal"
                   [@replaceImg-left]="currentState.colRowLeft4"
                   (@replaceImg-left.done)="onDone($event, 'colRowLeft4')"
                   [icon]="arrowLeft" [size]="'2x'" (click)="insertLeft(4)"></fa-icon>
        </div>
        <div class="cell-empty"></div>
        <!--  Row 5-->
        <img id="{{board.tiles[4][0].tileId}}" src="{{board.tiles[4][0].imgSrc}}"
             class="cell {{board.tiles[4][0].tileRotation}}"/>
        <img id="{{board.tiles[4][1].tileId}}" src="{{board.tiles[4][1].imgSrc}}"
             class="cell {{board.tiles[4][1].tileRotation}}"/>
        <img id="{{board.tiles[4][2].tileId}}" src="{{board.tiles[4][2].imgSrc}}"
             class="cell {{board.tiles[4][2].tileRotation}}"/>
        <img id="{{board.tiles[4][3].tileId}}" src="{{board.tiles[4][3].imgSrc}}"
             class="cell {{board.tiles[4][3].tileRotation}}"/>
        <img id="{{board.tiles[4][4].tileId}}" src="{{board.tiles[4][4].imgSrc}}"
             class="cell {{board.tiles[4][4].tileRotation}}"/>
        <img id="{{board.tiles[4][5].tileId}}" src="{{board.tiles[4][5].imgSrc}}"
             class="cell {{board.tiles[4][5].tileRotation}}"/>
        <img id="{{board.tiles[4][6].tileId}}" src="{{board.tiles[4][6].imgSrc}}"
             class="cell {{board.tiles[4][6].tileRotation}}"/>
        <div class="cell-empty"></div>
        <div class="cell-arrow text-right">
          <fa-icon class="arrow-horizontal"
                   [@replaceImg-right]="currentState.colRowRight6"
                   (@replaceImg-right.done)="onDone($event, 'colRowRight6')"
                   [icon]="arrowRight" [size]="'2x'" (click)="insertRight(6)"></fa-icon>
        </div>
        <!--  Row 6-->
        <img id="{{board.tiles[5][0].tileId}}" src="{{board.tiles[5][0].imgSrc}}"
             class="cell {{board.tiles[5][0].tileRotation}}"/>
        <img id="{{board.tiles[5][1].tileId}}" src="{{board.tiles[5][1].imgSrc}}"
             class="cell {{board.tiles[5][1].tileRotation}}"/>
        <img id="{{board.tiles[5][2].tileId}}" src="{{board.tiles[5][2].imgSrc}}"
             class="cell {{board.tiles[5][2].tileRotation}}"/>
        <img id="{{board.tiles[5][3].tileId}}" src="{{board.tiles[5][3].imgSrc}}"
             class="cell {{board.tiles[5][3].tileRotation}}"/>
        <img id="{{board.tiles[5][4].tileId}}" src="{{board.tiles[5][4].imgSrc}}"
             class="cell {{board.tiles[5][4].tileRotation}}"/>
        <img id="{{board.tiles[5][5].tileId}}" src="{{board.tiles[5][5].imgSrc}}"
             class="cell {{board.tiles[5][5].tileRotation}}"/>
        <img id="{{board.tiles[5][6].tileId}}" src="{{board.tiles[5][6].imgSrc}}"
             class="cell {{board.tiles[5][6].tileRotation}}"/>
        <div class="cell-arrow text-left">
          <fa-icon class="arrow-horizontal"
                   [@replaceImg-left]="currentState.colRowLeft6"
                   (@replaceImg-left.done)="onDone($event, 'colRowLeft6')"
                   [icon]="arrowLeft" [size]="'2x'" (click)="insertLeft(6)"></fa-icon>
        </div>
        <!--  Row 7-->
        <img id="{{board.tiles[6][0].tileId}}" src="{{board.tiles[6][0].imgSrc}}"
             class="cell  {{board.tiles[6][0].tileRotation}}"/>
        <img id="{{board.tiles[6][1].tileId}}" src="{{board.tiles[6][1].imgSrc}}"
             class="cell  {{board.tiles[6][1].tileRotation}}"/>
        <img id="{{board.tiles[6][2].tileId}}" src="{{board.tiles[6][2].imgSrc}}"
             class="cell  {{board.tiles[6][2].tileRotation}}"/>
        <img id="{{board.tiles[6][3].tileId}}" src="{{board.tiles[6][3].imgSrc}}"
             class="cell  {{board.tiles[6][3].tileRotation}}"/>
        <img id="{{board.tiles[6][4].tileId}}" src="{{board.tiles[6][4].imgSrc}}"
             class="cell  {{board.tiles[6][4].tileRotation}}"/>
        <img id="{{board.tiles[6][5].tileId}}" src="{{board.tiles[6][5].imgSrc}}"
             class="cell  {{board.tiles[6][5].tileRotation}}"/>
        <img id="{{board.tiles[6][6].tileId}}" src="{{board.tiles[6][6].imgSrc}}"
             class="cell  {{board.tiles[6][6].tileRotation}}"/>

        <img *ngIf="board.pawns" src="/assets/images/pawn.png" class="pawn" [ngStyle]="board.pawns.redPawn.style">
        <img *ngIf="board.pawns" src="/assets/images/pawn.png" class="pawn pawn-blue"
             [ngStyle]="board.pawns.bluePawn.style"/>
        <img *ngIf="board.pawns" src="/assets/images/pawn.png" class="pawn pawn-yellow"
             [ngStyle]="board.pawns.yellowPawn.style"/>
        <img *ngIf="board.pawns" src="/assets/images/pawn.png" class="pawn pawn-green"
             [ngStyle]="board.pawns.greenPawn.style"/>
        <!--   Bottom controls   -->
        <div class="text-center">
          <div class="cell"></div>
          <div class="cell-arrow" (click)="insertBottom(2)">
            <fa-icon class="arrow-horizontal"
                     [@replaceImg-bottom]="currentState.colBottom2"
                     (@replaceImg-bottom.done)="onDone($event, 'colBottom2')"
                     [icon]="arrowUp" [size]="'2x'"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow" (click)="insertBottom(4)">
            <fa-icon class="arrow-horizontal"
                     [@replaceImg-bottom]="currentState.colBottom4"
                     (@replaceImg-bottom.done)="onDone($event, 'colBottom4')"
                     [icon]="arrowUp" [size]="'2x'"></fa-icon>
          </div>
          <div class="cell"></div>
          <div class="cell-arrow" (click)="insertBottom(6)">
            <fa-icon class="arrow-horizontal"
                     [@replaceImg-bottom]="currentState.colBottom6"
                     (@replaceImg-bottom.done)="onDone($event, 'colBottom6')"
                     [icon]="arrowUp" [size]="'2x'"></fa-icon>
          </div>
          <div class="cell"></div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <!--  Right space for more content. (Also serves as spacing)-->
    </div>
  </div>
</div>
