<!--Loading Overlay-->
<!--<app-overlay *ngIf="gamePending"></app-overlay>-->

<!--Chat component-->
<app-chat [gameId]="gameId"></app-chat>

<!--Board component-->
<app-board *ngIf="board" [isPending]="gamePending"
           [board]="board"
           [userPawn]="userPawn"
           [isTurn]="isTurn"
           [placedTile]="placedTile"
           (placeableTileMessage)="onPlaceableTileChanged($event)"
           (canEndTurnMessage)="onTurnCanEnd()"
           (boardChangedMessage)="onBoardChanged($event)">
</app-board>

<!--Bottombar with controls-->
<app-bottombar
               [placeAbleTile]="placeableTile"
               [turnEnded]="turnCanEnd"
               [isTurn]="isTurn"
               (turnEndedMessage)="onTurnEnded()">
</app-bottombar>
