<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Magical Maze Password forgot</h4>
    <div class="card-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
          <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
            <div *ngIf="formControls.email.errors.required">E-mail is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Send e-mail
        </button>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
      </form>
    </div>
  </div>
</div>
