h5 {
  font-weight: bold;
}

.user-widgets {
  margin: 0 auto;
}

.col-img {
  margin-bottom: 50%;
}

.small-img {
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid grey;
}

.is-turn {
  border: 4px solid yellowgreen;
}

.username {
  font-size: 18px;
  font-weight: bold;
}
